*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #727272;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
ul {
  list-style: none;
}
a,
a:active,
a:hover {
  outline: none;
  text-decoration: none;
  transition: 0.3s;
}
button,
button:active,
button:focus,
button:hover,
input,
input:active,
input:focus,
input:hover,
textarea,
textarea:focus {
  outline: none;
  border-radius: 5px;
}
textarea {
  resize: none;
  border: 0;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
  border: 0;
}

input {
  border: 0;
  font-family: "Roboto", sans-serif;
}
