.footer {
  margin-top: auto;
  padding: 20px 0;
  background: #34547a;
  color: #fff;
  z-index: 100;

  &__box {
    display: flex;
    justify-content: space-between;
  }
  &__texts h2 {
    padding-bottom: 20px;
  }

  &__liks {
    display: flex;
    gap: 30px;
    img {
      max-width: 80px;
      @media screen and (max-width: 800px) {
        max-width: 50px;
      }
    }
  }
}
